#demo {
  display: block;
  color: red;
  width: 250px;
}
#demo2 {
  display: block;	
  color: red;
  width: 200px;
}
#demo3 {
  display: block;	
  color: red;
  width: 400px;
}
hr {
  display: block;	
  width: 200px;
  float: left;  
}

#demo3b{
  width: 250px;
  display: block;
}

